<div id="wrap">
  <div class="container center">
    <%= link_to root_path do %>
            <!--<button type="button" class="btn btn-default" style="border-radius: 10px;">-->
              <i class="fa fa-bicycle"></i>
            <!--</button>-->
          <% end %>
  	<h1>Our Menu</h1>
  	<p><b>CHEF'S TASTING MENU</b> | SPRING 2014</p>
    <hr>
  	<div>
      <b>MACARONI + CHEESE</b>
      <br />
      <i>Using five cheeses and Kraft cheese mix</i>
      <br /><br />
    </div>
    <div>
      <b>SPAGHETTI + MEATBALLS</b>
      <br />
      <i>Barilla pasta and Ragu sauce. Beef (maybe) meat</i>
      <br /><br />
    </div>
    <p><b>PRIX FIXE $300.00 | SERVICE INCLUDED</b></p>
  </div> <!-- /. container -->
</div>