<div id="wrap">
  <div class="jumbotron about_jumbo">
    <div class="container">
      <h2>LEARN MORE ABOUT THIS THING</h2>
    </div>
  </div>
  <div class="container center">
    This is Hot Dogs or Melany.
    <br /><br />
    Here, you get to post <b>LOUD AND AMAZING</b> things (called "Bolts") that disappear after you post something else.
    <br /><br />
    Your Bolt does not compete with anything else you've written. It takes up the majority of your profile page.
    <br /><br />
    You can acknowledge other Bolts with digital kudos called "Claps".
    <br /><br />
    ...that is if you manage to catch a Bolt before it disappears.
    <br /><br />
    Created by <%= link_to "Phil Nguyen", "http://www.philnguyen.me" %>.
  </div> <!-- /. container -->
  <div class="container center">
    <%= image_tag "about/mel_insta.jpg" %>
  </div>
</div>