<div id="wrap">
  <div class="container center">
  	<h1>About</h1>
    <hr width="50%">
  	<div>
      This is Hot Dogs or Melany, created by Phil Nguyen.
      <br /><br />
      Here, you get to post <b>LOUD AND AMAZING</b> things (called "Bolts") that disappear after you post something else.
      <br /><br />
      Your Bolt does not compete with anything else you've written. It takes up the majority of your profile page.
      <br /><br />
      You can acknowledge your friends' Bolts with digital kudos called "Claps".
      <br /><br />
      ...that is if you manage to catch a Bolt before it disappears.
    </div>
  </div> <!-- /. container -->
</div>