<!-- CAROUSEL -->
<div class="carousel slide">
  <div class="carousel-inner">
    <div class="item bg bg1 active">
      <div class="container">
        <div class="carousel-caption">
        	<%= image_tag "logo-1000px.png", :size => "500x238"  %>
          <h1><b>THE BEST FUCKING WEBSITE ON THE WORLDWIDE WEB</b></h1>
          <span class="fa fa-hand-o-down" style="font-size: 2em;"></span>
      </div>
    </div>
  </div>
</div>

<!-- NAVBAR -->
<div class="nav-wrapper">
  <div class="nav navbar navbar-default affix" data-spy="affix" data-offset-top="50">
    <%= render 'layouts/header' %>
	</div>
</div>