<div id="footer">
	<div class="container center" style="margin-top: 25px;">
		<p style="margin-top: 10px;" class="text-muted">
			<small>
				&copy;2014 Water Cooler Labs
			</small>
		</p>
	</div>
</div>