<div id="footer">
	<div class="container" style="margin-top: 25px;">
		<p class="center" style="margin-top: 10px; color: #c0392b;">
			<small>
				&copy;2014 Water Cooler Labs
			</small>
		</p>
	</div>
</div>