
<div id="wrap">
	<div class="container">
		<h1 style="color: #34495e">Edit a Bolt</h1>

		<%= render 'form' %>

		<%= link_to @bolt, method: :delete, data: { confirm: 'Are you sure?' } do %>
			<span class="fa fa-trash"></span>
			Delete
		<% end %>
		|
		<%= link_to 'Back', bolts_path %>
	</div>
</div>