<!--<div id="wrap">
	<div class="container">
		<p id="notice"><%= notice %></p>

		<p>
			<strong>Description:</strong>
			<%= @bolt.description %>
		</p>

		<% if @bolt.user == current_user %>
			<%= link_to 'Edit', edit_bolt_path(@bolt) %>
		<% end %>
		 |
		<%= link_to 'Back', bolts_path %>
	</div>
</div>-->